<div class="intro" data-align="center">
	<div class="intro-wrap">
		<div class="intro-wrap-inner">
			<div class="welcome-text">
				<h1>{{code}} Error</h1>
				<h3>Ooops, the page you are looking for can't be found!</h3>
				<div class="more-detail">		
					<a href="{{@blog.url}}">
						Back To Home
					</a>
				</div>
			</div>
		</div>
	</div>	
	{{#if @blog.cover}}
	<div class="intro-background" style="background-image: url({{@blog.cover}})"
		data-bottom-top="transform: translate3d(0px,-200px, 0px);"
		data-top-bottom="transform: translate3d(0px,200px, 0px);"
		data-center="transform: translate3d(0px,0px, 0px);">
	</div>
	{{/if}}
</div>