{{#eachPhoto}}
	
	<div class="col-sm-4 col-xs-6" style="padding: 5px;">
	<div class="albumImageContainer">
		<a class="fancybox-thumb" rel="fancybox-thumb" href="{{this}}" >
			<img src="{{this}}" class="albumImage" alt="" />
		</a>
		</div>
	</div>
{{/eachPhoto}}