{{!Begin of Social Icon List}}
<ul class="social">
	{{!Begin Social item}}
	<li class="facebook">
		<a href="https://www.facebook.com/pages/University-of-Michigan-Sailing-Team/210184842328666" target="_blank" title="Facebook"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="twitter">
		<a href="https://twitter.com/umichsailing" target="_blank" title="Twitter"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}

	{{!End Social item}}
	<li class="instagram">
		<a href="http://instagram.com/umichsailing/" target="_blank" title="Instagram"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-instagram"></i>
		</a>
	</li>

	{{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}