<div class="widget flickr">
	<h3 class="widget-title">Flickr Stream</h3>
	<div class="widget-content">
		<ul class="flickr-feed" data-userid="36587311@N08" data-mode="gallery" data-size="12" data-cols="3" data-popup-preview="true">
		</ul>
	</div>
</div>