<div class="widget instagram">
	<h3 class="widget-title">Instagram</h3>
	<div class="widget-content">
		<ul data-userid="umichsailing" data-api-token="6794789.06d91d4.37da82d04b594e39bf66ddbfbceb1182" data-api-clientid="06d91d4202874b6c86e6007b001088f3" data-mode="gallery" data-display="12" data-cols="3" data-popup-preview="true" class="instagram-feed">
		</ul>
		<a class="follow-box instagram" href="https://instagram.com/umichsailing" target="_blank">Follow on Instagram</a>
	</div>
</div>