<div class="widget text">
	<h3 class="widget-title">Donate</h3>
	<div class="widget-content">
		<a href="https://leadersandbest.umich.edu/find/#/give/basket/fund/313132">
		<i class="fa fa-usd"></i> Donate
	</a>
	</div>
	
</div>