<footer class="site-footer one-colum">
	<div class="site-footer-wrap">		
		<div class="footer-social">
			{{>misc/social-icons}}
		</div>			
		<div class="copyright">
			<p>Copyright &copy; 2014 <a href="/">{{@blog.title}}</a> All rights reserved.</p>
		</div>
	</div>
</footer>