<div class="sidebar default">
	<div class="sidebar-wrap">		
		<div class="sidebar-nav-container">
			<h3>Navigation</h3>
			<ul class="sidebar-nav-items sf-nav">
				{{>misc/menu-items}}
			</ul>
		</div>
		<div class="widget-container">
			{{! Turn on/ Turn off widgets here, you can also move up or down any widget to change it position}} 
			{{!>widget/social}}
			{{!>widget/newsletter}}
			{{!>widget/recent-posts}}						
			{{!>widget/flickr}}
			{{!>widget/dribble}}
			{{!>widget/instagram}}			
			{{!>widget/text}}
			{{!>widget/recent-tweets}}
			{{!>widget/facebook-like}}
		</div>
	</div>
</div>