<div class="sidebar no-nav">
	<div class="sidebar-wrap">				
		<div class="widget-container">
			{{! Turn on/ Turn off widgets here, you can also move up or down any widget to change it position}} 
			{{>widget/social}}
			{{>widget/newsletter}}
			{{!>widget/recent-posts}}						
			{{!>widget/flickr}}			
			{{!>widget/dribble}}						
			{{>widget/instagram}}			
			{{!>widget/text}}
			{{!>widget/recent-tweets}}
			{{!>widget/facebook-like}}
		</div>
	</div>
</div>