{{!< default}}
{{>intro/default}}
<div class="main-wrap">	    
	<main class="body-content" role="main">				
	    {{>loop/stack-style}}
	</main>
	{{! Change your sidebar type here, include:
        + sidebar/default
        + sidebar/no-nav
    }} 
	{{>sidebar/no-nav}}	
</div>