{{!< default}}
{{#post}}
{{>intro/page}}
<div class="main-wrap">	    
	<main class="body-content" role="main">
	    <div class="post-content">
	    	{{#isMembersPage}}
				{{>members/members}}
	    	{{else}}
		    	{{content}}	    		    		
	    	{{/isMembersPage}}
	    </div>	    
	</main>
	{{>sidebar/no-nav}}
	<br class="clearfix"/>	
</div>
{{/post}}